<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<head>
	<title>Free Home Shoppe Website Template | Home :: w3layouts</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="/Home/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/Home/css/slider.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/Client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="/Admin/js/sb-admin-2.js"></script>
	<script type="text/javascript" src="/Admin/js/controller/categoryController.js"></script>
	<script type="text/javascript" src="/Home/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/Home/js/move-top.js"></script>
	<script type="text/javascript" src="/Home/js/easing.js"></script>
	<script type="text/javascript" src="/Home/js/startstop-slider.js"></script>
</head>
<body>
	<div class="wrap">
		<div class="header">
			<div class="headertop_desc">
				@await Component.InvokeAsync("TopMenu")
			</div>
			<div class="header_top">
				<div class="logo">
					<a href="/"><img src="/Home/images/logo.png" alt="" /></a>
				</div>
				<div class="cart">
					@await Component.InvokeAsync("HeaderCart")
				</div>
				<script type="text/javascript">
					function DropDown(el) {
						this.dd = el;
						this.initEvents();
					}
					DropDown.prototype = {
						initEvents: function () {
							var obj = this;

							obj.dd.on('click', function (event) {
								$(this).toggleClass('active');
								event.stopPropagation();
							});
						}
					}

					$(function () {

						var dd = new DropDown($('#dd'));

						$(document).click(function () {
							// all dropdowns
							$('.wrapper-dropdown-2').removeClass('active');
						});

					});

				</script>
				<div class="clear"></div>
			</div>
			<div class="header_bottom">
				@await Component.InvokeAsync("MainMenu")
				<div class="search_box">
					<form action="/tim-kiem" method="get">
						<input type="text" name="keyword" id="txtKeyword" placeholder="Search"><input type="submit" value="">
					</form>
				</div>	
				<div class="clear"></div>
			</div>
			@RenderSection("slide", required: false)
		</div>
		<div class="main">
			@RenderBody()
		</div>
	</div>
	<div class="footer">
		@await Component.InvokeAsync("Footer")
	</div>
	<script type="text/javascript">
		$(document).ready(function () {
			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<a href="#" id="toTop"><span id="toTopHover"> </span></a>
    <script src="~/client/js/controller/basecontroller.js"></script>
	@RenderSection("jsFooter", required:false)
</body>
</html>

