@model List<WebApplication2.Models.Menu>

<div class="menu">
	<ul style="margin-bottom:0 !important">
		@foreach (var item in Model)
		{
			@* Hiển thị các item từ bảng Menu *@
			<li><a href="@item.Link" target="@item.Target">@item.Text</a></li>
		}
		@* <li class="active"><a href="index.html">Home</a></li>
		<li><a href="about.html">About</a></li>
		<li><a href="delivery.html">Delivery</a></li>
		<li><a href="news.html">News</a></li>
		<li><a href="contact.html">Contact</a></li> *@
		<div class="clear"></div>
	</ul>
</div>